# Copy this file to .env and fill in your own EmailJS values.
# These should be set in the root of the project and not committed to source control.

VITE_EMAILJS_SERVICE_ID=service_3qvu56w
VITE_EMAILJS_TEMPLATE_ID=template_qlbwmh6
VITE_EMAILJS_PUBLIC_KEY=uzRcJdCtXiF5jo_14
